<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dbhw.mapper.CompanyMapper">
    <insert id="create" parameterType="com.example.dbhw.model.Company">
        insert into Company(name)
        values (#{name})
    </insert>

    <update id="update" parameterType="com.example.dbhw.model.Company">
        update Company
        set name = #{name},
            where name = #{name}
    </update>

    <delete id="delete" parameterType="String">
        delete
        from Company
        where name = #{name}
    </delete>

    <select id="getById" parameterType="String" resultType="com.example.dbhw.model.Company">
        select *
        from Company
        where name = #{name}
    </select>

    <select id="getAll" resultType="com.example.dbhw.model.Company">
        select *
        from Company
    </select>

</mapper>
